html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#ec8737, #c64e55);
  font-family: "Prompt", sans-serif;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
}
.container {
  justify-content: center;
  display: flex;
}

.block {
  margin-bottom: 20px;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header-img {
  width: 50%;
}
.login-block {
  margin: 40px 40px;
  padding: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 1rem;
}
.otp-input {
  margin: 0 0.5rem;
  font-size: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
}

.otp-separator {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: #333;
}
@media (max-width: 480px) {
  .header-img {
    width: 80%;
  }
}
